#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
  color: black;
} 

.Ticket{
  border: 1px solid pink ;
  font-size: 2rem;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 15px;
}

.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.InfoBox{
  margin: 10px;
  text-align: center;
}
 