#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 

.Ticket{
  border: 1px solid pink ;
  font-size: 2rem;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 15px;
}
 